@page "/counter"
@using GitHubPagesTest.Services.Contract

@inject IFirebaseDbService _firebaseDbService;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<p role="status">File count: @fileCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="ReadFileCount">Read file count</button>

@code {
    private int currentCount = 0;

    private string fileCount = "";

    private async void IncrementCount()
    {
        currentCount++;
        await _firebaseDbService.WriteCount(currentCount.ToString());
    }

    private async void ReadFileCount()
    {
        fileCount = await _firebaseDbService.ReadCounts();
    }
}
